* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topnav {
    position: relative;
    overflow: hidden;
    background-color: #000;
}


.nav {
    float: right;
    background-color: black;
    padding: 15px 40px;
}

.nav a {
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    color: #fff;
}

.nav a:hover {
    background-color: #3e3e3e;
    border-bottom: 2px solid blue;
}
