* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../images/banner_bg.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    transform: 0.5s;

}

/*/////  NavBar css section /////*/

.topnav {
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo {
    float: left;
}

.logo a {
    padding: 70px;
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: 600;
    line-height: 2;
    text-decoration: none;
    color: #fff;
    font-family: 'Cairo', 'Candal', 'sans-serif';
}

.topnav .menu-center {
    text-align: center;

}

.topnav .menu-center a {
    color: #000;
    text-decoration: none;
    padding: 0px 20px;
    font-size: 1.2rem;
    line-height: 4;
    color: #fff;
    font-family: sans-serif;
}

.topnav .menu-center .menu:hover {
    padding-bottom: 10px;
    border-bottom: 2px solid #03fc0b;
    transition: 0.5s;
}


.topnav .menu-center .right {
    float: right;
    padding: 0px 40px;
}

.topnav .menu-center .right:hover {
    background-color: #02c908;
    transition: 0.5s;
}

.banner-content {
    position: relative;
    text-align: center;
    top: 40%;
    width: 100%;
    height: 30%;
    padding: 0px;
}

.banner-content h1 {
    font-size: 2.5rem;
    color: #fff;
    text-transform: capitalize;
    padding: 30px 10px 0px 10px;
    font-family: 'Candal';
    margin-bottom: 15px;
    line-height: 2;
}

.banner-content h1 .bright {
    color: #04d90b;
    padding-bottom: 10px;
    border-bottom: 3px solid #fff;
}

.banner-content p {
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 1.4;
}

.bars .menu-bar i {
    display: none;
}

.navbarcontent {
    display: none;
}

/*//// arrow bounce ////*/
.arrow {
    text-align: center;
    margin: 50px 0;
}

.arrow a {
    text-decoration: none;
    color: #02c908;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}


/* ////NavBar in mobile view //// */

@media(max-width:1031px) {
    .topnav .menu-center {
        display: none;
    }

    .topnav .menu-center .right {
        display: none;
    }

    .navbarcontent {
        display: block;
    }


    .menuBar i {
        position: absolute;
        right: 40px;
        top: 20px;
        color: #fff;
        z-index: 1;
    }

    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-y: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .overlay a:hover,
    .overlay a:focus {
        color: #f1f1f1;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

    .arrow {
        text-align: center;
        margin: 5% 0;
    }

}

@media (min-width:294px) and (max-width:360px) {
    .logo a {
        padding: 20px;
        font-size: 1.5rem;
        letter-spacing: 4px;
        font-weight: 600;
        line-height: 2.7;
        text-decoration: none;
        color: #fff;
        font-family: 'Cairo', 'Candal', 'sans-serif';
    }

    .arrow {
        text-align: center;
        margin: 10% 0;
    }

}

@media (max-width:414px) {


    .banner-content {
        position: relative;
        text-align: center;
        top: 35%;
        width: 100%;
        height: 30%;
        padding: 0px;
    }

    .banner-content p {
        color: #fff;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 50px;
    }

    .arrow {
        text-align: center;
        margin: 15% 0;
    }

}

@media(max-width:390px) {
    .logo a {
        padding: 20px;
        font-size: 1.5rem;
        letter-spacing: 4px;
        font-weight: 600;
        line-height: 2.7;
        text-decoration: none;
        color: #fff;
        font-family: 'Cairo', 'Candal', 'sans-serif';
    }
}
