:root {
    --primaryColor: #03fc0b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('../images/banner_bg.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    transform: 0.5s;

}

/*About us section*/
/*
#intro {
    display: table;
    width: 100%;
    height: 100vh;
    background: #000;
}

#intro .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#intro .carousel-item::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#intro .carousel-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#intro .carousel-background img {
    max-width: 100%;
}

#intro .carousel-content {
    text-align: center;
    margin-top: 15%;
}

#intro h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
}

#intro p {
    width: 80%;
    margin: 0 auto 30px auto;
    color: #fff;
}

#intro .carousel-fade {
    overflow: hidden;
}

#intro .carousel-fade .carousel-inner .carousel-item {
    transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
    opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev,
#intro .carousel-control-next {
    width: 10%;
}

#intro .carousel-control-next-icon,
#intro .carousel-control-prev-icon {
    background: none;
    font-size: 32px;
    line-height: 1;
}

#intro .carousel-indicators li {
    cursor: pointer;
}

#intro .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #18d26e;
}

#intro .btn-get-started:hover {
    background: #fff;
    color: #18d26e;
}*/


/*About us---------------------->>>>>>*/


/*/////  NavBar css section /////*/

.topnav {
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo {
    float: left;
}

.logo a {
    padding: 70px;
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: 600;
    line-height: 2;
    text-decoration: none;
    color: #fff;
    font-family: 'Cairo', 'Candal', 'sans-serif';
}

.topnav .menu-center {
    text-align: center;

}

.topnav .menu-center a {
    color: #000;
    text-decoration: none;
    padding: 0px 20px;
    font-size: 1.2rem;
    line-height: 4;
    color: #fff;
    font-family: sans-serif;
}

.topnav .menu-center .menu:hover {
    padding-bottom: 10px;
    border-bottom: 2px solid #03fc0b;
    transition: 0.5s;
}


.topnav .menu-center .right {
    float: right;
    padding: 0px 40px;
}

.topnav .menu-center .right:hover {
    background-color: #02c908;
    transition: 0.5s;
}

.banner-content {
    position: relative;
    text-align: center;
    top: 40%;
    width: 100%;
    height: 30%;
    padding: 0px;
}

.banner-content h1 {
    font-size: 2.5rem;
    color: #fff;
    text-transform: capitalize;
    padding: 30px 10px 0px 10px;
    font-family: 'Candal';
    margin-bottom: 15px;
    line-height: 2;
}

.banner-content h1 .bright {
    color: #04d90b;
    padding-bottom: 10px;
    border-bottom: 3px solid #fff;
}

.banner-content p {
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 1.4;
}

.bars .menu-bar i {
    display: none;
}

.navbarcontent {
    display: none;
}

/*//// arrow bounce ////*/
.arrow {
    text-align: center;
    margin: 50px 0;
}

.arrow a {
    text-decoration: none;
    color: #02c908;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}





/*/// Layout-section ///*/
#layout-section {
    width: 100%;
    height: 90vh;
    position: relative;
}

.layout-content {
    text-align: center;
    margin-top: 5%;

}

.layout-content .row h2 {
    padding: 80px 10px 2px 10px;
    font-size: 2.5rem;
    font-family: 'Candal', 'Cairo', 'Days One';

}

.layout-content h2 .bright {
    color: #03fc0b;
    opacity: 0.8;
    padding-bottom: 10px;
    border-bottom: 4px solid black;
    line-height: 2;
}

.main-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    margin-top: 40px;
}

.main-layout .column img {
    width: 350px;
    padding: 10px;
}

.main-layout .column img:hover {
    box-shadow: 20px 20px 20px gray;
    cursor: pointer;
}

.main-layout .column h2 {
    margin-top: 10px;
    padding: 10px;
    font-family: 'Day One';
}

.modal {
    display: none;

    position: fixed;

    z-index: 1;

    padding-top: 100px;

    left: 0;
    top: 0;
    width: 100%;

    height: 100%;

    overflow: auto;

    background-color: rgb(0, 0, 0);

    background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

#caption1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

#caption2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

.modal-content1,
#caption1 {
    animation-name: zoom;
    animation-duration: 0.6s;
}

.modal-content2,
#caption2 {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close,
.close1,
.close2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.close1:hover,
.close1:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


.close2:hover,
.close2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}





/*//// Team-section css ////*/
.team-section {
    width: 100%;
    height: 90vh;
    position: relative;
}

.team-content {
    text-align: center;
    margin-top: 5%;

}

.team-content .row h2 {
    padding: 80px 10px 2px 10px;
    font-size: 2.5rem;
    font-family: 'Candal', 'Cairo', 'Days One';

}

.team-content h2 .bright {
    color: #03fc0b;
    opacity: 0.8;
    padding-bottom: 10px;
    border-bottom: 4px solid black;
    line-height: 2;
}

.team-content .row p {
    font-size: 24px;
    padding: 10px 10px 10px 10px;
    font-family: 'Cairo';
}

.team-details {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.teamMember1 {
    width: 100%;
}

.img1 {
    width: 40%;
    margin-top: 35px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.img2 {
    width: 45%;
}

.teamMember1 h3 {
    font-family: 'Cairo';
    font-weight: 600;
    font-size: 25px;
}

.team-desc {
    padding: 20px 70px;
}

.team-role {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Day One';
}

.icon-team a {
    color: black;
    font-size: 20px;
    padding: 0px 5px;
}

.icon-team a:hover {
    color: #03fc0b;
    transition: 0.5s;
}


/*//// Footer section css /////*/

#footer-section {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: auto;
    margin-top: 15%;
}

.footer-content {
    padding-left: 70px;
    padding-top: 50px;
    padding-right: 70px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-content .sec-1 h2 {
    color: #fff;
    font-family: 'Cairo', 'Candal', 'Days One';
    font-size: 32px;
    letter-spacing: 5px;
}

.footer-content .sec-1 p {
    color: #fff;
    padding: 20px 50px 15px 0px;
    font-size: 19px;

}

.footer-content .sec-2 {
    padding-right: 30px;
}

.footer-content .sec-2 h3 {
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    border-bottom: 1px solid var(--primaryColor);
}


.footer-content .sec-2 hr:before {
    width: 117px;
    height: 2px;
    margin: 25px auto;
    background-color: #53c5d5;
}

.footer-content .sec-2 ul {
    list-style: none;
}

.footer-content .sec-2 ul hr {
    opacity: 0.2;
}


.footer-content .sec-2 ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-content .sec-2 ul li a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;


}

.footer-content .sec-2 ul li a:hover {
    border-left: 2px solid var(--primaryColor);
    transition: 0.5s;
    padding-left: 10px;
}

.footer-content .sec-3 {
    padding-right: 30px;
}

.footer-content .sec-3 h3 {
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    border-bottom: 1px solid var(--primaryColor);
}

.footer-content .sec-3 p {
    padding-top: 40px;
    color: #fff;
    font-size: 16px;
    font-family: sans-serif;
}

.footer-content .sec-3 p i {
    color: var(--primaryColor);
}












/* ////NavBar in mobile view //// */

@media(max-width:1031px) {
    .topnav .menu-center {
        display: none;
    }

    .topnav .menu-center .right {
        display: none;
    }

    .navbarcontent {
        display: block;
    }


    .menuBar i {
        position: fixed;
        right: 40px;
        top: 20px;
        color: #fff;
        z-index: 1;
    }

    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-y: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .overlay a:hover,
    .overlay a:focus {
        color: #f1f1f1;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

    .arrow {
        text-align: center;
        margin: 5% 0;
    }

    .main-layout {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 10px;
        margin-top: 40px;
    }

    .main-layout .column img {
        width: 50%;
    }

    #team-section {
        margin-top: 70%;
    }

    .footer-content {
        padding-left: 40px;
        padding-top: 50px;
        padding-right: 40px;
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}

@media (max-width:990px) {
    .team-details {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
    }

    #footer-section {
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: auto;
        margin-top: 100%;
    }
}

@media (min-width:294px) and (max-width:360px) {
    .logo a {
        padding: 20px;
        font-size: 1.5rem;
        letter-spacing: 4px;
        font-weight: 600;
        line-height: 2.7;
        text-decoration: none;
        color: #fff;
        font-family: 'Cairo', 'Candal', 'sans-serif';
    }

    .arrow {
        text-align: center;
        margin: 10% 0;
    }

    #footer-section {
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: auto;
        margin-top: 170%;
    }

    .footer-content {
        padding-left: 30px;
        padding-top: 50px;
        padding-right: 30px;
        padding-bottom: 20px;


    }



}

@media (max-width:414px) {


    .banner-content {
        position: relative;
        text-align: center;
        top: 35%;
        width: 100%;
        height: 30%;
        padding: 0px;
    }

    .banner-content p {
        color: #fff;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 50px;
    }

    .arrow {
        text-align: center;
        margin: 15% 0;
    }

}

@media(max-width:390px) {
    .logo a {
        padding: 20px;
        font-size: 1.5rem;
        letter-spacing: 4px;
        font-weight: 600;
        line-height: 2.7;
        text-decoration: none;
        color: #fff;
        font-family: 'Cairo', 'Candal', 'sans-serif';
    }


}

@media (min-width:361px) and (max-width:476px) {
    #footer-section {
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: auto;
        margin-top: 120%;
    }

    .footer-content {
        padding-left: 30px;
        padding-top: 50px;
        padding-right: 30px;
        padding-bottom: 20px;


    }

}
